.container {
  margin: 50px 25px;
  line-height: 1.5em;
}

img.logo {
  margin: 0 auto 38px;
  display: block;
  width: 33%;
}

.info-list {
  padding: 15px;
  list-style: none;
}

.info-list li {
  display: flex;
  flex-flow: row wrap;
  margin: 8px 0;
}

.info-list p {
  margin: 0;
  width: 100%;
}

.info-list a {
  display: block;
  margin: 8px;
}

pre {
  color: #ffffff;
  background-color: #383a3e;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 16px 8px;
}
